<%- include('../includes/admin/header') -%>
<!-- Navigation-->
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<%- include('../includes/admin/navbar') -%>
<div class="content-wrapper">
    <!-- /.container-fluid-->
    <div class="container">
        <div class="container text-center">
            <h1>welcome to admin dashboard</h1>
        </div>
    </div>
    <!-- /.content-wrapper-->
    <%- include('../includes/admin/footer') -%>
</div>
</body>

</html>
